<% if(is_home()) {%>
    <%- partial('_page/profile') %>
    <div class="index-archive-title"><%- __('home.last-posts') %></div>
    <%- partial('_page/archive', {pagination: config.archive, index: true}) %>
<%}%>