<div class="post-wrap archive">
    <% page.posts.each(function (post) { %>

      <% const tags = post.tags.toArray().map((item) => { return item.name; }); %>
      <% if (post.tags && tags.includes('miniblog')) { %>

        <%- partial('_partial/miniblog', { post }) %>

      <% } else { %>

        <%- partial('_partial/post', { post }) %>

      <% } %>

    <% }) %>
    <%- partial('_partial/paginator') %>
</div>