<div class="container">
  <%# toc %>
  <% if (theme.post_toc_enable && toc(post.content).length!==0) { %>
    <%- partial('_partial/toc') %>
  <% } %>

  <%- partial('_partial/post', { post }) %>
</div>
