@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic');

@font-face
  font-family 'IvyMode'
  src url('/fonts/IvyMode/IvyMode.woff2') format('woff2'), url('/fonts/IvyMode/IvyMode.woff') format('woff')
  font-weight normal
  font-style normal
  font-display swap

$font-family = 'Source Sans Pro', sans-serif
$display-font-family = 'IvyMode', 'Source Sans Pro', sans-serif