.wrapper 
  display flex
  flex-direction column
  min-height 100vh
  width 100%

.main 
  flex-grow 1
  flex-shrink 0
  flex-basis auto

.container
  padding-left 1em
  padding-right 1em

.footer
  height 4rem
  width 100%
  text-align center
  line-height 4rem
  padding-top 2em

iframe
  border-radius 7px

.error
  border-radius 9px
  border 1px #a7a7a7 solid
  padding 3em !important
  margin-top 7em !important
