<footer id="footer" class="footer">
    <div class="copyright">
        <span><%= config.title %></span>
    </div>
</footer>

<%# video %>
<%# if (is_post() && page.video) { %>
<script>
  const player = new Plyr('#player', {
    disableContextMenu: 0,
    youtube: {
      noCookie: 1,
      modestbranding: 1,
      showinfo: 0,
      controls: 0,
    }
  });
</script>
<%# } %>
