.post-wrap
  position relative
  width 100%
  max-width 780px
  margin 0 auto
  padding-top 2rem
  padding-bottom 1rem

  .archive-item
    margin-left 2rem

.archive-item-link
    display inline-block
    text-decoration none
    overflow hidden
    //text-overflow ellipsis
    white-space nowrap
    &:hover
      color $light-global-link-hover-color
      background-color transparent
    
  .archive-item-date
    float right
    text-align right
    color $light-font-secondary-color

.miniblog-post
  border: solid 1px $light-font-secondary-color;
  border-radius: 10px;
  padding: 0 20px;
  margin-bottom: 20px;
  
  .miniblog-link
    font-size: 1.2em;
    line-height: 1.5em;
    text-decoration: underline;
    font-weight: bold;
    position: relative;

  .miniblog-link::before
    content: "#";
    color: $light-post-link-color;
    left: -58px;
    top: 28px;
    position: absolute;
    font-weight: bold;
    font-family: verdana;
    font-size: 1.8em;
    line-height: 1.2em;    