.post-wrap
  position relative
  width 100%
  max-width 780px
  margin 0 auto
  padding 10px 0 0 0

  .archive-item
    margin-left 2rem

.archive-item-link
    display inline-block
    text-decoration none
    overflow hidden
    //text-overflow ellipsis
    white-space nowrap
    &:hover
      color $light-global-link-hover-color
      background-color transparent
    
  .archive-item-date
    float right
    text-align right
    color $light-font-secondary-color

.miniblog-post
  border: solid 1px $light-font-secondary-color;
  border-radius: 10px;
  padding: 0 20px;
  margin: 20px 0;
  position: relative;

  .miniblog-link
    position: absolute;
    left: -35px;
    top: 0;
    font-size: 2em;
    font-weight: bold;
    font-family: verdana;
    line-height: 1em;
    text-decoration: none;
    color: $light-post-link-color;
    padding-top: 17px;
    &:hover
      color: $light-post-link-hover-color;