// post structure
.post-wrap
  p
    font-size 1em
    margin 1em 0 1em 0

  .post-header
    line-height 0.4em

  // .post-header h1
  //   margin 0 !important

  .post-title
    font-size 2em
    line-height 1.2em
    margin-bottom 15px

  .post-title::before
    content "#"
    color $light-post-link-color
    position absolute
    left -35px
    font-weight bold
    font-family verdana