.navbar 
  height 4rem
  line-height 4rem
  width 100%
  
  .container 
    width auto
    max-width 1200px
    text-align center
    margin 0 auto
    display flex
    justify-content space-between

  .header-logo a
    padding 0 0 0 4px
    img
      height 50px
      padding 10px 0 0 0
      float left
      position relative

  .menu a
    padding 0 8px

  .menu .active
    font-weight 900
    color $light-navbar-active-color
    .dark-theme &
      color $dark-navbar-active-color


.navbar-header a:hover, .navbar .menu a:hover
  background-color transparent

header label
  margin-left 15px
  position relative
  -webkit-transform translateY(.1em) translateX(.5em)
